.html{
    background-color: rgba(35, 12, 71, 0.959);
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 100px;
}

.formheader{
    color: rgb(104, 49, 131);
    opacity: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.div{
    display: flex;
}

.name{
    margin-right: 2px;
    padding-bottom: 5px;
}

.container{
    margin: 10px;
    width: 500px;
}

.body{
    display: flex;
    margin-top: 10%;
    margin-right: 50px;
    width: 500px;
}

input{
    display: flex;
    padding: 10px 40px 10px 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 71%;
    background-color: rgb(234, 196, 243);
}

.button{
    background-color: #7d11a8;
    opacity: 90%;
    border: none;
    border-radius: 10px;
    padding: 10px 33px;
    color: white;
    margin-top: 10px;
    margin-bottom: 2px;
}

.btn{
    display: inline;
    margin-right: 0px;
}

.check{
    color: rgb(107, 106, 106);
    font-weight: lighter;

    &__label{
        display: flex;
        flex-direction: row;
        margin-top: 15px;

        &--input{
            margin-top: 3px;
            margin-left: 3px;
            padding-left: 5px;
        }
    }
}

  .input-group{
      padding-top: 5px;
      width: 222px;
  }

  .seat{
      padding-top: 5px;
      background-color: rgba(204, 202, 202, 0.288);
  }